<head>
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="assets\css\bootstrap.min.css" />

  <!-- Customizable CSS -->
  <link rel="stylesheet" href="assets\css\main.css" />
  <link rel="stylesheet" href="assets\css\blue.css" />
  <link rel="stylesheet" href="assets\css\owl.carousel.css" />
  <link rel="stylesheet" href="assets\css\owl.transitions.css" />
  <link rel="stylesheet" href="assets\css\animate.min.css" />
  <link rel="stylesheet" href="assets\css\rateit.css" />
  <link rel="stylesheet" href="assets\css\bootstrap-select.min.css" />

  <!-- Icons/Glyphs -->
  <link rel="stylesheet" href="assets\css\font-awesome.css" />

  <!-- Fonts -->
  <link
    href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
</head>
<body>
  <!-- ================================== TOP NAVIGATION ================================== -->
  <div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head">
      <i class="icon fa fa-align-justify fa-fw"></i> Categories
    </div>
    <nav class="yamm megamenu-horizontal">
      <ul class="nav">
        <li class="dropdown menu-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            ><i class="icon fa fa-shopping-bag" aria-hidden="true"></i
            >Clothing</a
          >
          <ul class="dropdown-menu mega-menu">
            <li class="yamm-content">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Dresses</a></li>
                    <li><a href="category.html">Jackets</a></li>
                    <li><a href="category.html">Sunglasses</a></li>
                    <li><a href="category.html">Handbags</a></li>
                    <li><a href="category.html">Blazers</a></li>
                  </ul>
                </div>
                <!-- /.col -->
                <div class="col-sm-12 col-md-4">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Jeans</a></li>
                    <li><a href="category.html">Shirts</a></li>
                    <li><a href="category.html">Tops</a></li>
                    <li><a href="category.html">Shorts</a></li>
                  </ul>
                </div>
                <!-- /.col -->
                <div class="col-sm-12 col-md-4">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Sport wear</a></li>
                    <li><a href="category.html">Swim wear</a></li>
                    <li><a href="category.html">Winter wear</a></li>
                    <li><a href="category.html">Night wear</a></li>
                  </ul>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </li>
            <!-- /.yamm-content -->
          </ul>
          <!-- /.dropdown-menu -->
        </li>

        <li class="dropdown menu-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            ><i class="icon fa fa-paw" aria-hidden="true"></i>Footwear</a
          >
          <ul class="dropdown-menu mega-menu">
            <li class="yamm-content">
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Flats</a></li>
                    <li><a href="category.html">Mules</a></li>
                    <li><a href="category.html">Slingbacks</a></li>
                    <li><a href="category.html">Sneakers</a></li>
                    <li><a href="category.html">Sandals</a></li>
                    <li><a href="category.html">Boots</a></li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Flip-flops</a></li>
                    <li><a href="category.html">Crocs</a></li>
                    <li><a href="category.html">Mary Janes</a></li>
                    <li><a href="category.html">Loafers</a></li>
                    <li><a href="category.html">Heels</a></li>
                    <li><a href="category.html">Slippers</a></li>
                  </ul>
                </div>
                <div class="dropdown-banner-holder col-sm-12 col-md-8">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0759/0890/7283/files/women_footwear.jpg?v=1709710315"
                    alt=""
                    style="
                      height: auto;
                      width: 56rem;
                      overflow: clip;
                      display: block;
                    "
                  />
              </div>
              <!-- /.row -->
            </li>
            <!-- /.yamm-content -->
          </ul>
          <!-- /.dropdown-menu -->
        </li>

        <li class="dropdown menu-item">
          <a href="category.html" class="dropdown-toggle" data-toggle="dropdown"
            ><i class="icon fa fa-clock-o"></i>Watches</a
          >
        </li>

        <li class="dropdown menu-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            ><i class="icon fa fa-diamond"></i>Jewellery</a
          >
          <ul class="dropdown-menu mega-menu">
            <li class="yamm-content">
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Rings</a></li>
                    <li><a href="category.html">Earrings</a></li>
                    <li><a href="category.html">Necklace</a></li>
                    <li><a href="category.html">Bracelet</a></li>
                  </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Brooch</a></li>
                    <li><a href="category.html">Charms</a></li>
                    <li><a href="category.html">Pendants</a></li>
                  </ul>
                </div>
              </div>
              <div class="dropdown-banner-holder col-sm-12 col-md-8">
                <img
                  src="https://cdn.shopify.com/s/files/1/0057/6657/8279/files/blog_tiles.jpg?v=1709775420"
                  alt=""
                  style="
                    height: auto;
                    width: 56rem;
                    overflow: clip;
                    display: block;
                  "
                />
              </div>
              <!-- /.row -->
            </li>
            <!-- /.yamm-content -->
          </ul>
          <!-- /.dropdown-menu -->
        </li>
      </ul>
      <!-- /.nav -->
    </nav>
    <!-- /.megamenu-horizontal -->
  </div>
  <!-- /.side-menu -->
  <!-- ================================== TOP NAVIGATION : END ================================== -->
</body>
