<body>
  <!-- ================================== TOP NAVIGATION ================================== -->
  <div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head">
      <i class="icon fa fa-align-justify fa-fw"></i> Categories
    </div>
    <nav class="yamm megamenu-horizontal">
      <ul class="nav">
        <li class="dropdown menu-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            ><i class="icon fa fa-shopping-bag" aria-hidden="true"></i
            >Shoes</a
          >
          <ul class="dropdown-menu mega-menu">
            <li class="yamm-content">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Casual Shoes</a></li>
                    <li><a href="category.html">Sport Shoes</a></li>
                    <li><a href="category.html">Flats</a></li>
                    <li><a href="category.html">Heels</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="dropdown menu-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            ><i class="icon fa fa-paw" aria-hidden="true"></i>Sandal</a
          >
          <ul class="dropdown-menu mega-menu">
            <li class="yamm-content">
              <div class="row">
                <div class="col-sm-12 col-md-2">
                  <ul class="links list-unstyled">
                    <li><a href="category.html">Sandals</a></li>
                    <li><a href="category.html">Sport Sandals</a></li>
                  </ul>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="category.html"
            ><i class="icon fa fa-clock-o"></i>Flip Flops</a
          >
        </li>
      </ul>
      <!-- /.nav -->
    </nav>
    <!-- /.megamenu-horizontal -->
  </div>
  <!-- /.side-menu -->
  <!-- ================================== TOP NAVIGATION : END ================================== -->
</body>
